@use "../abstracts/variables" as color;

.button {
    color: color.$color-white;
    background: color.$main-color;
    font-size: 1.3rem;
    transition: all 0.3s;
    &:hover {
        color: color.$main-color-hover;
        background: color.$color-white;
        border: 1px solid color.$main-color-hover;
    }
    &:focus {
        box-shadow: none;
    }
}
