doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Furniture
        //- Styles 
        include ../vendors/styles.pug
        
    body 
        //- Header 
        include ../partials/header.pug

        //- Main content pages
        block content 

        //- Footer
        include ../partials/footer.pug

        //- Scripts 
        include ../vendors/scripts.pug