extends ../layouts/layout.pug
block content 
    section(class="home")
        div(class="slides-container")
            - let images = ['home-img-2.png', 'home-img-1.png']
                each image, index in images 
                    div(class=`slide ${index == 0 ? 'active' : ''} `)
                        div(class="content")
                            span new arrivels 
                            h1 product chair #{index + 1} 
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            a(href="shop.html" class="btn") shop now 
                        div(class="image")
                            img(src=`assets/images/${image}`, alt="", srcset="")
        div(class="bx bxs-chevron-right slide-next", id="slideNext")
        div(class="bx bxs-chevron-left slide-prev", id="slidePrev")
    // Banner section start 
    section(class="banner-container")
        - let imagesBanner = ['banner-1.jpg', 'banner-2.jpg', 'banner-3.jpg']
            each image, index in imagesBanner 
                div(class="banner")
                    img(src=`assets/images/${image}`, alt="", srcset="")
                    div(class="content")
                        span limited offer 
                        h3 upto 50% off 
                        a(href="shop.html", class="btn") shop now 
    // Banner section end 