// Fonts 
link(rel="preconnect", href="https://fonts.googleapis.com")
link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap")/


// boxicons 
link(rel="stylesheet", href=href='https://unpkg.com/boxicons@2.1.0/css/boxicons.min.css')/

// Coustom css file link 
link(rel="stylesheet", href="assets/css/style.css")