extends layouts/layout.pug
block hero-header
    .hero 
        .container-fluid 
            nav(aria-label="breadcrumb" class="nav_breadcrumb")
                ol(class="breadcrumb")
                    li(class="breadcrumb-item")
                        a(a href="index.html") الرئيسية
                    li(class="breadcrumb-item active", aria-current="page") الأخبار
block content
    main(class="my-3")
        .container-fluid
            h2 الأخبار