$main-color: hsl(174, 83%, 34%);
$main-color-hover: hsla(174, 83%, 34%, 0.733);

// Good Color with main-color
$main-color-text: hsl(0, 14%, 1%);

// Good Color whith color-white
$color-black: hsl(0, 0%, 20%);
$color-gray: hsl(0, 1%, 37%);

$color-white: hsl(0, 0%, 98%);

// Fonts 
$main-font: 'Cairo', sans-serif;

// Color social media
$color-facebook: #1877f2;
$color-twitter: #1da1f2;
$color-youtube: #bd081c;
$color-instagram: #c32aa3;
$color-whatsApp: #25d366;

