// Fonts 
$main-font-en: 'Poppins', sans-serif;

// Colros
$main-color: #244d4d;
$white: #fff;
$light-color: #779;
$light-bg: #f6fbf6;
$border: .1rem solid $main-color;
$box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
$dark-shadow: 0 0 0 100vw rgba(0,0,0, .5);
$border-radius: .3rem;