@use '../abstracts/_abstracts' as *;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    font-family: $main-font-en;
    transition: all .2s linear;
}

%scrollbar {
    &::-webkit-scrollbar {
        width: 1rem;
    }

    &::-webkit-scrollbar-track {
        background: $white;
    }

    &::-webkit-scrollbar-thumb {
        background: $main-color;
    }
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    @extend %scrollbar;
    @media (max-width: 991px) {
        font-size: 55%;
    }
}

section, footer {
    padding: 3rem 9%;
    @media (max-width: 991px) {
        padding: 3rem 2rem;
    }
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: .9rem 2.5rem;
    font-size: 1.6rem;
    background: $main-color;
    border-radius: $border-radius;
    color: $white;
    cursor: pointer;
    user-select: none;
    &:hover {
        opacity: .9;
    }
}