* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  transition: all 0.2s linear;
}

html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: #fff;
}
html::-webkit-scrollbar-thumb {
  background: #244d4d;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
}

section, footer {
  padding: 3rem 9%;
}
@media (max-width: 991px) {
  section, footer {
    padding: 3rem 2rem;
  }
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.9rem 2.5rem;
  font-size: 1.6rem;
  background: #244d4d;
  border-radius: 0.3rem;
  color: #fff;
  cursor: pointer;
  user-select: none;
}
.btn:hover {
  opacity: 0.9;
}

h3 {
  font-size: 2.4rem;
  color: #244d4d;
}

h5 {
  color: #244d4d;
  font-size: 2.2rem;
}

p {
  color: #779;
  font-size: 1.4rem;
  padding: 1rem 0;
  line-height: 2;
}

span {
  color: #779;
  font-size: 2rem;
}

a {
  font-size: 1.4rem;
}

.login-form, .shopping-cart, .navbar {
  position: fixed;
  top: 0;
  right: -101%;
  z-index: 1000;
  width: 35rem;
  height: 100vh;
  background: #fff;
}
.active.login-form, .active.shopping-cart, .active.navbar {
  right: 0;
  box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.5);
  transition: 0.4s linear;
}

.login-form, .navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.shopping-cart::-webkit-scrollbar {
  width: 1rem;
}
.shopping-cart::-webkit-scrollbar-track {
  background: #fff;
}
.shopping-cart::-webkit-scrollbar-thumb {
  background: #244d4d;
}

.header {
  padding: 2rem 9%;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: #f6fbf6;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .logo {
  font-size: 2.5rem;
  color: #244d4d;
  font-weight: bolder;
}
.header .logo i {
  padding-right: 0.3rem;
}
.header .search-form {
  height: 4rem;
  width: 50rem;
  border-radius: 0.3rem;
  background: #fff;
  overflow: hidden;
  display: flex;
  align-items: center;
  border: 0.1rem solid #244d4d;
}
.header .search-form input {
  height: 100%;
  width: 100%;
  padding: 0 1.2rem;
  font-size: 1.6rem;
  color: #244d4d;
  text-transform: none;
}
.header .search-form label {
  font-size: 2.2rem;
  padding-right: 1.7rem;
  cursor: pointer;
  color: #244d4d;
}
.header .search-form label:hover {
  color: #779;
}
.header .icons div {
  margin-left: 2rem;
  font-size: 2.5rem;
  cursor: pointer;
  color: #244d4d;
}
.header .icons div:hover {
  color: #779;
}

.search-btn {
  display: none;
}

@keyframes rotate {
  0% {
    transform: rotate(360deg);
    opacity: 0;
  }
}
.closer {
  position: fixed;
  top: 1.2rem;
  right: 30rem;
  color: #244d4d;
  font-weight: bolder;
  font-size: 4rem;
  cursor: pointer;
  z-index: 1001;
  animation: rotate 0.4s linear 0.4s backwards;
  display: none;
}
.closer:hover {
  color: #779;
}

.navbar a {
  margin: 1rem 0;
  font-size: 2.3rem;
  color: #244d4d;
}
.navbar a:hover {
  color: #779;
}

.shopping-cart {
  padding: 2rem;
  padding-top: 8rem;
  overflow-y: scroll;
}
.shopping-cart .box {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  position: relative;
  margin-bottom: 1rem;
}
.shopping-cart .box .close-times {
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
  font-size: 2.5rem;
  color: #779;
  cursor: pointer;
  user-select: none;
}
.shopping-cart .box .close-times:hover {
  color: #244d4d;
}
.shopping-cart .box img {
  height: 8rem;
  width: auto;
}
.shopping-cart .box .content h3 {
  font-size: 1.8rem;
  padding-bottom: 0.5rem;
}
.shopping-cart .box .content span {
  font-size: 1.5rem;
  color: #779;
}
.shopping-cart .box .content span.multiply {
  margin: 0 1rem;
}
.shopping-cart .total {
  text-align: center;
  font-size: 2rem;
  padding: 1rem 0;
  color: #779;
}
.shopping-cart .total span {
  color: #244d4d;
}
.shopping-cart .btn-checkout {
  width: 100%;
  text-align: center;
}

.login-form {
  padding: 2rem;
}
.login-form form {
  padding: 1.7rem;
  border: 0.1rem solid #244d4d;
  border-radius: 0.3rem;
}
.login-form form h3 {
  font-size: 2.2rem;
  padding-bottom: 1rem;
}
.login-form form .box {
  width: 100%;
  color: #244d4d;
  border: 0.1rem solid #244d4d;
  margin: 0.7rem 0;
  padding: 1rem;
  border-radius: 0.3rem;
  text-transform: none;
}
.login-form form .remember {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.login-form form .remember label {
  padding: 1rem 0;
  font-size: 1.5rem;
  color: #779;
  cursor: pointer;
}
.login-form form .btn-login {
  margin: 1rem 0;
  width: 100%;
  text-align: center;
}
.login-form form p {
  padding-top: 1rem;
}
.login-form form p a {
  color: #244d4d;
  margin: 0 0.3rem;
}
.login-form form p a:hover {
  text-decoration: underline;
}

@media (max-width: 991px) {
  .header {
    padding: 2rem;
  }
}
@media (max-width: 768px) {
  .search-btn {
    display: inline-block;
  }

  .header .search-form {
    position: absolute;
    top: -101%;
    right: 0;
    left: 0;
    width: 100%;
    border-radius: 0;
    border-left: 0;
    border-right: 0;
  }
  .header .search-form.active {
    top: 99%;
  }
}
@keyframes fadeOut {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
}
@keyframes fadeLeft {
  0% {
    transform: translateX(-5rem);
    opacity: 0;
  }
}
.home {
  position: relative;
}
.home .slides-container .slide {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  display: none;
}
.home .slides-container .slide.active {
  display: flex;
}
.home .slides-container .slide .content {
  flex: 1 1 40rem;
  animation: fadeLeft 0.4s linear 0.4s backwards;
}
.home .slides-container .slide .content span {
  font-size: 2.5rem;
}
.home .slides-container .slide .content h1 {
  font-size: 6rem;
  color: #244d4d;
  padding-top: 0.5rem;
}
@media (max-width: 450px) {
  .home .slides-container .slide .content h1 {
    font-size: 4rem;
  }
}
.home .slides-container .slide .content p {
  padding-top: 0.5rem;
}
.home .slides-container .slide .image {
  flex: 1 1 40rem;
}
.home .slides-container .slide .image img {
  animation: fadeOut 0.4s linear;
}
.home .slide-next,
.home .slide-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 3rem;
  text-align: center;
  background: #fff;
  color: #244d4d;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid #244d4d;
  border-radius: 0.3rem;
  cursor: pointer;
  user-select: none;
}
.home .slide-next:hover,
.home .slide-prev:hover {
  background: #244d4d;
  color: #fff;
}
@media (max-width: 991px) {
  .home .slide-next,
.home .slide-prev {
    top: 95%;
  }
}
.home .slide-next {
  right: 2rem;
}
.home .slide-prev {
  left: 2rem;
}
@media (max-width: 991px) {
  .home .slide-prev {
    left: auto;
    right: 8rem;
  }
}

.banner-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}
.banner-container .banner {
  height: 25rem;
  overflow: hidden;
  position: relative;
  border-radius: 0.3rem;
}
.banner-container .banner:hover img {
  transform: scale(1.2);
}
.banner-container .banner .content {
  position: absolute;
  top: 50%;
  left: 2rem;
  transform: translateY(-50%);
}
.banner-container .banner .content span {
  font-size: 1.7rem;
}
.banner-container .banner .content h3 {
  padding-top: 0.5rem;
}

.products .box-container .box .icons, .products .title, .heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading {
  background: #244d4d;
  color: #fff;
}
.heading h2 {
  font-size: 2.5rem;
}
.heading p {
  font-size: 2rem;
}
.heading p a {
  color: #fff;
  font-size: 2rem;
}
.heading p a:hover {
  color: #779;
}
@media (max-width: 450px) {
  .heading {
    flex-flow: column;
    gap: 1rem;
  }
}

.category .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1.5rem;
}
.category .box-container .box {
  padding: 2rem;
  border: 0.1rem solid #244d4d;
  border-radius: 0.3rem;
  text-align: center;
}
.category .box-container .box img {
  height: 6rem;
  width: auto;
  margin-bottom: 1rem;
}
.category .box-container .box:hover {
  background: #244d4d !important;
}
.category .box-container .box:hover img {
  filter: invert(1);
}
.category .box-container .box:hover h5 {
  color: #fff;
}

.products .title {
  margin-bottom: 2rem;
  padding-bottom: 1.5rem;
  border-bottom: 0.1rem solid #244d4d;
}
.products .title span {
  color: #244d4d;
}
.products .title a {
  color: #779;
}
.products .title a:hover {
  color: #244d4d;
}
.products .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
  gap: 1.5rem;
}
.products .box-container .box {
  position: relative;
  background: #f2f2f2;
  overflow: hidden;
}
.products .box-container .box .icons {
  position: absolute;
  top: -50%;
  left: 0;
  transform: translateY(-50%);
  height: 30rem;
  width: 100%;
  justify-content: center;
  gap: 0.5rem;
  z-index: 10;
}
.products .box-container .box .icons a {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  color: #244d4d;
  background: #fff;
  font-size: 2rem;
  text-align: center;
  border-radius: 0.3rem;
}
.products .box-container .box .icons a:hover {
  background: #244d4d;
  color: #fff;
}
.products .box-container .box .image {
  height: 30rem;
  width: 100%;
  overflow: hidden;
}
.products .box-container .box .content {
  padding: 1.5rem 2rem;
}
.products .box-container .box .content .price {
  font-size: 1.7rem;
  color: #779;
}
.products .box-container .box .content h5 {
  padding: 0.5rem 0;
}
.products .box-container .box .content .stars {
  font-size: 1.7rem;
}
.products .box-container .box .content .stars i {
  color: gold;
}
.products .box-container .box .content .stars span {
  margin: auto 0.5rem;
}
.products .box-container .box:hover {
  background: rgba(0, 0, 0, 0.1);
}
.products .box-container .box:hover .image img {
  transform: scale(1.2);
}
.products .box-container .box:hover .icons {
  top: 50%;
}

.about {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.about .image, .about .content {
  flex: 1 1 40rem;
}
.about .image img, .about .content img {
  border-radius: 0.3rem;
}
.about .content h3 {
  padding-top: 1rem;
}

.services .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}
.services-box {
  padding: 2rem;
  border: 0.1rem solid #244d4d;
  text-align: center;
}
.services-box img {
  height: 8rem;
  width: auto;
  margin-bottom: 1rem;
}
.services-box:hover img {
  transform: rotate(-10deg);
}

.team .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}
.team-box {
  position: relative;
  overflow: hidden;
  border: 0.1rem solid #244d4d;
  border-radius: 0.3rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  background: #f6fbf6;
}
.team-box .share {
  width: 7rem;
  height: 50rem;
  position: absolute;
  top: 0;
  left: -8rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  background: #244d4d;
  z-index: 10;
}
.team-box .share a {
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
  text-align: center;
  color: #fff;
  font-size: 2.3rem;
  border: 0.1rem solid #fff;
  border-radius: 0.3rem;
}
.team-box .share a:hover {
  color: #244d4d;
  background: #fff;
  transform: scale(1.1);
}
.team-box .image {
  height: 50rem;
  width: 100%;
  overflow: hidden;
}
.team-box .user {
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.team-box .user span {
  font-size: 1.4rem;
}
.team-box:hover .share {
  left: 0;
}
.team-box:hover .image img {
  transform: scale(1.1);
}

.blog .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}
.blog-box {
  border: 0.1rem solid #244d4d;
  border-radius: 0.3rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  background: #f6fbf6;
}
.blog-box .image {
  height: 25rem;
  width: 100%;
  overflow: hidden;
}
.blog-box .content {
  padding: 0.5rem 1.5rem;
}
.blog-box .content .icons {
  margin-top: 2rem;
  border-top: 0.1rem solid #244d4d;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.blog-box .content .icons a {
  color: #779;
}
.blog-box .content .icons a:hover {
  color: #244d4d;
}
.blog-box .content .icons a i {
  padding-right: 0.5rem;
  color: #244d4d;
}
.blog-box:hover .image img {
  transform: scale(1.2);
}

.contact {
  display: flex;
  flex-wrap: wrap;
  padding: 3rem 0;
}
.contact form {
  padding: 2.5rem;
  background: #f6fbf6;
  flex: 1 1 40rem;
}
.contact form h5 {
  margin-bottom: 1rem;
}
.contact form label {
  display: block;
  padding-bottom: 1rem;
  font-size: 1.4rem;
  color: #779;
  letter-spacing: 1px;
}
.contact form input, .contact form textarea {
  width: 100%;
  background: none;
  text-transform: none;
  font-size: 1.4rem;
  color: #244d4d;
  border-bottom: 1px solid #779;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
.contact form input:focus, .contact form textarea:focus {
  border-bottom-color: #244d4d;
}
.contact form textarea {
  resize: none;
  height: 15rem;
}
.contact .map {
  flex: 1 1 40rem;
  width: 100%;
}

.footer {
  background: #f6fbf6;
}
.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}
.footer .box-container .box h3, .footer .box-container .box a, .footer .box-container .box p {
  font-size: 2.2rem;
  color: #244d4d;
  padding: 1rem 0;
}
.footer .box-container .box p {
  color: #779;
  padding: initial 0 1rem 0;
}
.footer .box-container .box a {
  display: flex;
  align-items: center;
  color: #779;
}
.footer .box-container .box a:hover {
  color: #244d4d;
}
.footer .box-container .box a:hover i {
  padding-right: 1.5rem;
}
.footer .box-container .box a i {
  padding-right: 0.5rem;
  color: #244d4d;
}
.footer .box-container .box form input {
  width: 100%;
  padding: 1rem 1.2rem;
  font-size: 1.6rem;
  color: #244d4d;
  text-transform: none;
  margin: 0.7rem 0;
  border: 0.1rem solid #244d4d;
}

.credit {
  text-align: center;
  font-size: 1.8rem;
  background: #244d4d;
  color: #fff;
  letter-spacing: 1px;
}

/*# sourceMappingURL=style.css.map */
