header(class="main_header")
    nav(class="navbar navbar-expand-lg navbar-light bg-white shadow")
        div(class="container-fluid")
            a(href="/" class="navbar-brand")
                img(src="assets/images/logo.png" alt="Dr.Samuel")
            button(class="navbar-toggler", type="button", data-bs-toggle="collapse", data-bs-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
                span(class="navbar-toggler-icon")
            div(class="collapse navbar-collapse", id="navbarNav")
                ul(class="navbar-nav m-auto")
                    li(class="nav-item")
                        a(href="index.html", class="nav-link active", aria-current="page") الرئيسية
                    li(class="nav-item")
                        a(href="blogs.html", class="nav-link") مقالات

                    li(class="nav-item")
                        a(href="#reserve-with-us", class="nav-link") احجز معنا
                    li(class="nav-item")
                        a(href="#who-are-we", class="nav-link")  من نحن
                .social_media 
                    ul(class="social_media-list ml-0")
                        li(class="social_media-list-item me-2")
                            a(href="https://www.facebook.com/الأستاذ-الدكتور-صمويل-بشري-101199182425741/" class="bx bxl-facebook facebook fs-3")
                        li(class="social_media-list-item me-2")
                            a(href="https://wa.me/01091667696" class="bx bxl-whatsapp whatsapp fs-3")
                        li(class="social_media-list-item me-2")
                            a(href="https://youtube.com/channel/UC_pIIy7tGkAh6hZbrLqJWwA/" class="bx bxl-youtube youtube fs-3")
                        li(class="social_media-list-item me-2")
                            a(href="mailto:samuelboshra@edu.aun.edu.eg" class="bx bx-mail-send mail-send fs-3")
                        li(class="social_media-list-item me-2")
                            a(href="mailto:samuelboshra25@yahoo.com" class="bx bxl-yahoo yahoo fs-3")
                        li(class="social_media-list-item me-2")
                            a(href="tel:01282991010" class="bx bx-phone-call phone-call fs-3")
//- Hero
block hero-header