@use "../abstracts/variables" as color;
.who-are-we {
  .content_text {
    p {
      position: relative;
      padding-right: 1rem;
      &::after {
        content: "-";
        position: absolute;
        top: -0.2rem;
        right: 0;
        font-size: 1.3rem;
        color: color.$main-color;
        display: flex;
      }
    }
  }
}
