footer(class="main_footer bg-white py-3")
    .container-fluid 
        p(class="text-center my-0") حقوق الطبع والنشر محفوظة
            i(class='bx bx-copyright mx-1')
            //- span= new Date().getFullYear()
            - let currentDate = new Date()
            - let option = { year: 'numeric' }
            span= currentDate.toLocaleDateString('ar-EG', option)