header(class="main_header")
    nav(class="navbar navbar-expand-lg navbar-light bg-white shadow")
        div(class="container-fluid")
            a(href="/" class="navbar-brand")
                img(src="assets/images/logo.png" alt="Dr.Samuel")
            button(class="navbar-toggler", type="button", data-bs-toggle="collapse", data-bs-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
                span(class="navbar-toggler-icon")
            div(class="collapse navbar-collapse", id="navbarNav")
                ul(class="navbar-nav m-auto")
                    li(class="nav-item")
                        a(href="/", class="nav-link active", aria-current="page") الرئيسية
                    li(class="nav-item")
                        a(href="/blogs.html", class="nav-link") مقالات
                    li(class="nav-item")
                        a(href="/news.html", class="nav-link") الأخبار
                .social_media 
                    ul(class="social_media-list ml-0")
                        li(class="social_media-list-item")
                            a(href="" class="bx bxl-facebook facebook")
                        li(class="social_media-list-item")
                            a(href="" class="bx bxl-twitter twitter")
                        li(class="social_media-list-item")
                            a(href="" class="bx bxl-instagram instagram")
                        li(class="social_media-list-item")
                            a(href="" class="bx bxl-whatsapp whatsapp")
//- Hero
block hero-header