header(class="main_header")
    nav(class="navbar navbar-expand-lg navbar-light bg-white shadow")
        div(class="container-fluid")
            a(href="/" class="navbar-brand")
                img(src="assets/images/logo.png" alt="Dr.Samuel")
            button(class="navbar-toggler", type="button", data-bs-toggle="collapse", data-bs-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
                span(class="navbar-toggler-icon")
            div(class="collapse navbar-collapse", id="navbarNav")
                ul(class="navbar-nav m-auto")
                    li(class="nav-item")
                        a(href="index.html", class="nav-link active", aria-current="page") الرئيسية
                    li(class="nav-item")
                        a(href="blogs.html", class="nav-link") مقالات
                    //- div(class="collapse navbar-collapse" id="navbarNavDarkDropdown")
                    //- ul(class="navbar-nav")
                    //-     li(class="nav-item dropdown")
                    //-         a(class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false") احجز معنا
                       
                    //-         ul(class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink")
                    //-             li
                    //-                 a(class="dropdown-item" href="#") احجز كتاب
                    //-             li 
                    //-                 a(class="dropdown-item" href="#reserve-with-us") احجز معنا

                    li(class="nav-item")
                        a(href="#reserve-with-us", class="nav-link") احجز معنا
                .social_media 
                    ul(class="social_media-list ml-0")
                        li(class="social_media-list-item")
                            a(href="" class="bx bxl-facebook facebook")
                        li(class="social_media-list-item")
                            a(href="" class="bx bxl-twitter twitter")
                        li(class="social_media-list-item")
                            a(href="" class="bx bxl-instagram instagram")
                        li(class="social_media-list-item")
                            a(href="" class="bx bxl-whatsapp whatsapp")
//- Hero
block hero-header