@use "../abstracts/variables" as color;
@use "../abstracts//variables" as font;
body {
  background-color: color.$color-white;
  color: color.$color-black;
  font-family: font.$main-font;
}

main {
  min-height: 100vh;
}

.morbid_fear {
  min-height: 600px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p {
  line-height: 2;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

@media all and (min-width: 900px) {
  .image {
    max-width: 65%;
    object-fit: cover;
  }
}

.facebook {
  color: color.$color-facebook;
}

.whatsapp {
  color: color.$color-whatsApp;
}

.yahoo {
  color: color.$color-yahoo;
}

.youtube {
  color: #ff0000;
}

.phone-call,
.mail-send {
  color: color.$main-color;
}
